@import "../base/variables";
@import "../base/mixin";
.store__card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &--lenta {
    border-bottom-right-radius: 1rem;
    height: 24px;
    width: 20px;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 11;
    color: $color-white;
    text-align: center;
  }
  .green {
    background: $primary-color;
  }
  .red {
    background: $color-red;
  }
}

.popup_ban {
  @include flexCenter;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // backdrop-filter: blur(5px);
  background: #00000096;
  z-index: 9999;
  &__content {
    padding: 1rem;
    @include media(width, (25%, 45%, 50%, 95%));
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    max-width: 400px;
  }
}

